/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ["./src/**/*.{html,js,ts,jsx,tsx}"],
  theme: {
    extend: {
      colors: {
        "semantic-colors-primary-primary500":
          "var(--semantic-colors-primary-primary500)",
        "semantic-colors-typography-typography0":
          "var(--semantic-colors-typography-typography0)",
        "semantic-colors-typography-typography600":
          "var(--semantic-colors-typography-typography600)",
      },
      fontFamily: {
        "text-medium-lg-18px": "var(--text-medium-lg-18px-font-family)",
        "text-medium-md-16px": "var(--text-medium-md-16px-font-family)",
        "text-normal-lg-18px": "var(--text-normal-lg-18px-font-family)",
        "text-normal-sm-14px": "var(--text-normal-sm-14px-font-family)",
      },
    },
  },
  plugins: [],
};